.main-logo {
		display: block;
  		width: 150px;
  		height: 50px;
  		background-position: center;
 		background-size: 100% 100%;
  		margin:auto;
}
.input_info {
	width: 200px;
	height: 30px;
}

.tables{
	width: 724px;
	margin:auto;
}
.join_button{
	display: block;
	width: 312px;
	height: 40px;
	margin:auto;
}
.is_same{
	width: 50px;
	height: 25px;
	margin:auto
}
.nick_issame{
	width: 50px;
	height: 25px;
	margin:auto
}
.mail_confirm_b{
	width: 25px;
	height: auto;
}
@media ( max-width: 1024px ) {
        .main-logo {
        	position: relation;
			width: 6px;
			height: 6px;
        }
        .input_info {
        	position: relation;
			width: 60%;
			height: auto;
		}
        .tables {
        	position: relation;
			width: 100%;
			height: auto;
        }
        .join_button {
        	position: relation;
			width: 100%;
			height: auto;
        }
        .is_same {
        	position: relation;
			width: 5%;
			height: 25px;
        }
        .nick_issame{
        	position: relation;
			wight: 5%;
			height: 25px;
		}
}