.main-logo {
		display: block;
  		width: 150px;
  		height: 50px;
  		background-position: center;
 		background-size: 100% 100%;
  		margin:auto;
}
.search_div {
	height: 40px;
	width: 350px;
	border: 1px solid #1b5ac2;
	background: #ffffff;
	margin:auto;
}
p {
	text-align: center;
	font-size:25px;
	color:blue;
}

/*
a {
	한 줄만 보이게 한다. 넘어가면 ...으로 생략하여 보여줌
	overflow: hidden;			
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/

.main_div {
	height: auto;
	width: 1024px;
	margin: auto;	
}

input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
button{
	width: 50px;
	height: 100%;
	border: 0px
	background: white;
	outline: none;
	float: right;
	color: blue;
}

.write_button{
	position: relative;
	width: 70px;
	height: 100%;
	background: lightgray;
	margin:auto;
	color: blue;
}


*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0; 		/* ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 */
  overflow: hidden;
}

.menu > li:hover {			/* 마우스를 올렸을 때 */
  background-color: #94a9ff;
  transition-duration: 0.5s;
  font-weight:bold;
}

.board_table {
	border: 1px;
	margin:auto;
	width: 1024px;
    height: auto;
    text-align: center;
}
.board_head {
	background-color: lightgray;
	color:blue;
}

.menu > li:hover .submenu {
  height: 100px; 			/*서브메뉴 li의 총 높이 */
  transition-duration: 1s;
}

@media ( max-width: 720px ) {		/* 모바일 설정*/ /* 스크린 x축의 길이가 720px이하 일때 적용됨 */
        .main-logo {
          width: 100%;
          height: 45px;
        }
        .menu {
          float: none;
          width: 100%;
          height: auto;
        }
        .div {
          float: none;
          width: 100%;
          height: auto;
        }
        .main_div{
        	float: none;
          	width: 100%;
          	height: auto;
          	font-size: 10px;
        }
        .board_title_a{
			font-size: 10px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		.board_comment_font{
			font-size: 8px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		p{
			text-align: center;
			font-size:12px;
			color:blue;
		}

        .board_table {
        	border: 1px;
        	float: none;
        	width: 100%;
        	height: auto;
        }
        .board_head {  	
			background-color: lightgray;
			color:blue;
		}
        .write_button {
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        hr {
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
		}
}


.mor-main {
  display: block;
  width: 116px;
  height: 27px;
  background: url(../img/MOR_symbol_logo.svg) no-repeat 50%;
  background-position: center;
  background-size: 100% 100%;
  margin:auto;
}
