body{
	background-color: lightgray;
}

.empty_main_div{
	background-color: white;
	width: 80%;
	height: auto;
	margin: auto;	
}

.total_main_div{
	background-color: white;
	width: 1024px;
	height: auto;
	margin: auto;
}

.main-logo {
		display: block;
  		width: 300px;
  		height: 100px;
  		background-position: left;
 		background-size: 100% 100%;
  		float: left;
  		padding: 30px;
}
.search_div {
	position: relative;
	top: 75px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	background: #ffffff;
	float: right;
}

.search_input {
	border-color: black;
}

p {
	width: 1024px;
	text-align: center;
	font-size:25px;
	color:white;
	background-color: darkgray;
	margin: auto;
}

/*
a {
	한 줄만 보이게 한다. 넘어가면 ...으로 생략하여 보여줌
	overflow: hidden;			
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
.admin_p {
	width: 128px;
	text-align: center;
	font-size:20px;
	color:white;
	background-color: #FF0000;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#spread_div{
	height: auto;
	width: 1024px;
	margin: auto;
	display: none;
}

.admin_div {
	height: auto;
	width: 1024px;
	margin: auto;
}

.admin_table {
	border: 1px;
	border-color: #FFE6E6;
	margin:auto;
	width: 1024px;
    height: auto;
    text-align: center;
}
.admin_head {
	background-color: #FFE6E6;
	color:black;
	font-weight: bold;
}

.admin_title_a{
	text-align: left;
	font-size: 14px;
	height: 16px;
	table-layout : fixed;
	overflow: hidden;			
    text-overflow: ellipsis;
   	white-space: nowrap;
   	padding-left: 10px;
   	float: left;
}

.board_comment_font{
	float: left;
}

.secret_password_img{
	position: relative;
	width: 2%;
	height: auto;
	float: right;
	padding-right: 10px;
}

.tryUnlock_input{
	position: relative;
	width: 10%;
	height: 6px;
	float: right;
	padding-right: 5px;
	background-color: #E5E5E5;
}

.secret_unlockMode_td{
	display: none;
}

.secret_unlockComplete_td{
	display: none;
}

.fold_btn{
	background-color: #FFE6E6;
	color:red;
	font-weight: bold;
	width: 100%;
	hieght: auto;
	padding: 3px;
	font-size: 10px;
}

.spread_btn{
	background-color: #FFE6E6;
	color:red;
	font-weight: bold;
	width: 100%;
	hieght: auto;
	padding: 3px;
	font-size: 10px;
}

.main_div {
	height: auto;
	width: 1024px;
	margin: auto;	
}

input{
	font-size: 16px;
	width: 275px;
	border: 0px;
	outline: none;
	float: left;
	padding: 10px;
}

.search{
	width: 50px;
	height: 100%;
	border: 0px;
	background-color: black;
	outline: none;
	float: right;
	color: white;
}

button{
	width: 50px;
	height: 100%;
	border: 0px;
	background-color: black;
	outline: none;
	float: right;
	color: white;	
}

.write_button{
	position: relative;
	font-size: 12px;
	width: 60px;
	height: auto;
	background: darkgray;
	margin:auto;
	float: right;
	color: white;
}


*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33.3%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: black;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: darkgray;		/* #94a9ff */
}

.submenu {
  height: 0; 		/* ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 */
  overflow: hidden;
}

.menu > li:hover {			/* 마우스를 올렸을 때 */
  background-color: darkgray;
  transition-duration: 0.5s;
  font-weight:bold;
}

.board_table {
	border: 1px;
	margin:auto;
	width: 1024px;
    height: auto;
    text-align: center;
}
.board_head {
	background-color: lightgray;
	color:black;
	font-weight: bold;
}

.board_title_a{
	padding-left: 10px;
	float: left;
}

.bottom_div {
	background-color: #FAFAFA;
	width: 1024px;
	height: 150px;
	margin: auto;
	text-align: center;
}

.paging_div {
	font-size: 20px;
	min-width: 624px;
	color: black;
	height: 40px;
	margin: auto;
	padding: 15px;
}

.b_sty {
	color: green;
	font-size: 18px;
}


.hr_sty {
	border-top: 1px dotted #bbb;
	height: auto;
	width: 100%;
	margin: auto;
}

.credit_session_div {
	width: 100%;
	background-color: white;
	padding-left: 50px;
	font-size: 10px;
}

.bottom_hr {
	width: 100%;
	border-top: 1px black;
}


.board_search_div {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 500px;
	height: 50px;
	font-size: 13px;
	text-align: center;
	margin: auto;
}

.in_board_search_menu{
    position: relative;
 	width: 140px;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align: center;
	float: left;
}

.in_board_search_text {
	position: relative;
	background-color: white;
	color: black;
 	width: 240px;
 	height: 16px;
	float: right;
}

.in_board_search_text input {
	width: 100%;
	height: 100%;
	
}

.in_board_search_btn {
	position: relative;
 	width: 70px;
	height: 34px;
	background-color: black;		/* 초록 #03C75A */
	border: 0px;
	color: white;
	float: right;
	align-items:center;
	justify-content: center;
	padding: 5px;
}


.menu > li:hover .submenu {
  height: 100px; 			/*서브메뉴 li의 총 높이 */
  transition-duration: 1s;
}

/* 크레딧 섹션 css - 기존 프로젝트에서 복사해왔다. (브랜디 쇼핑몰의 css부분 긁어옴) */

footer {
  display: block;
  width: 100%;
  background-color: #f7f8fa;
}

.foot-sector {
  margin: 30px auto 0 auto;
}

.footerinfo-division-top {
  display: block;
  padding: 15px 15px;
  border: 1px solid #ebeef2;
  margin: 0 auto;
}

.footerinfo-division-top > div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-about {
  text-align: center;
}

.link-about a:first-child::before {
  content: none;
}

.link-about a::before {
  content: "|";
  margin-right: 5px;
}

.link-social-item {
  display: flex;
}

.link-social-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.link-social-item > a > span {
  margin-left: 7px;
}

.foot-sector :nth-child(2) {
  border: none;
}

.footerinfo-division-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0px auto;
  padding-bottom: 50px;
}
.company-info {
  display: inline-block;
}

.company-name {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 25px;
}

.bundle {
  color: #5f6773;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
}

.bundle span:first-child::before {
  content: none;
}

.bundle span::before {
  content: "|";
  margin-right: 5px;
}

.servicecenter {
  font-style: normal;
}

.center-phonenumber {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: inherit;
}

.center-info {
  line-height: 30px;
  color: #5f6773;
}

/* 크레딧 섹션 css */






@media ( max-width: 720px ) {		/* 모바일 설정*/ /* 스크린 x축의 길이가 720px이하 일때 적용됨 */
		html {						/* 와 진짜... 모바일에서 가로로 스크롤이 되는 오류가 발생해서 */
			max-width: 100%;		/* 11:00 pm ~ 8:00 am 까지 잠도 못자고 했는데 html, body 설정으로 해결!!!!! */
			overflow-x: hidden;
		}
		body {
			max-width: 100%;
			overflow-x: hidden;
			background-color: white;
		}

		.empty_main_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;	
		}
		
		.total_main_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;
		}
		
        .main-logo {
	  		width: 90%;
	  		height: 50px;

        }
        .search_div {
            position: static;
			height: 40px;
			width: 100%;
			border: 1px solid black;
			background: #ffffff;
			margin: auto;
			font-size: 14px;
        }
        .search_input{     	
        	font-size: 14px;
        	width: 80%;
        	height: auto;
        }
        input::placeholder {
        	font-size: 14px;
        }
		.search {
			width: 50px;
			height: 100%;
			border-radius: 4px;
			background-color: black;
			outline: none;
			float: right;
			color: white;
		}
		/*
			search
		*/
        .menu {
        	padding-top: 20px;
          	width: 100%;
          	height: auto;
        }
        .main_div{
          	width: 100%;
          	height: auto;
          	font-size: 10px;
        }
        .board_title_a{
			font-size: 10px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		.board_comment_font{
			font-size: 8px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		
		.admin_p{
			width: 25%;
			text-align: center;
			font-size:16px;
			color:white;
			background-color: #FF0000;
			float: left;
			padding-left: 5px;
			padding-right: 5px;
		}
		#spread_div{
			height: auto;
			width: 100%;
			margin: auto;
			display: none;
		}
		
		.admin_div{
			height: auto;
			width: 100%;
			margin: auto;
		}
		
		.admin_table{
			border: 1px;
			border-color: #FFE6E6;
			margin:auto;
			width: 100%;
		    height: auto;
		    text-align: center;
		    font-size:12px;
		}
		
		.admin_head{
			background-color: #FFE6E6;
			color:black;
			font-weight: bold;
		}
		
		.admin_title_a{
			text-align: left;
			font-size: 10px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
		    text-overflow: ellipsis;
		   	white-space: nowrap;
		   	padding-left: 10px;
		   	float: left;
		}
		
		.fold_btn{
			background-color: #FFE6E6;
			color:red;
			font-weight: bold;
			width: 100%;
			hieght: auto;
			padding: 3px;
			font-size: 10px;
		}
		
		.spread_btn{
			background-color: #FFE6E6;
			color:red;
			font-weight: bold;
			width: 100%;
			hieght: auto;
			padding: 3px;
			font-size: 10px;
		}
		
		.secret_password_img{
			position: relative;
			width: 6%;
			height: auto;
			float: right;
			padding-right: 10px;
		}
		
		.tryUnlock_input{
			position: relative;
			width: 20%;
			height: 6px;
			float: right;
			padding-right: 5px;
			background-color: #E5E5E5;
		}
		
		p{
			width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
		}

        .board_table {
        	border: 1px;
        	width: 100%;
        	height: auto;
        }
        .board_head {  	
        	width: 100%;
          	height: auto;
			background-color: lightgray;
			color:black;
			font-weight: bold;
		}	
		
        .write_button {
        	position: relative;
        	font-size: 10px;
        	width: 15%;
			height: auto;
			float: right;
			background-color: darkgray;
			color: white;
        }
        
		.bottom_div {
			position: relative;
			background-color: #FAFAFA;
			width: 100%;
			height: 80px;
			text-align: center;
			margin: auto;
		}
		
		.paging_div {
			position: relative;
			font-size: 14px;
			height: 25px;
			color: black;
			text-align: center;
		}
		
		.paging_div2{
			position: absolute;
			padding-bottom: 15px;
			left: 25%;
			top: 25%;
		}
		
		.b_sty {
			position: relative;
			color: green;
			font-size: 15px;
		}
		
		
		.hr_sty {
			position: relative;
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
			margin: auto;
		}
		
		.bottom_hr {
			width: 100%;
			border-top: 1px dotted black;
		}
		
		.board_search_div {
			position: relative;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 94%;
			min_height: 30px;
			height: 40px;
			font-size: 13px;		
			padding: 10px;
			text-align: center;
			margin: auto;
		}
		
		.in_board_search_menu{
		    position: relative;
		 	width: 24%;
		 	min_height: 24px;
		    height: auto;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;			
			float: left;
		}
		
		.in_board_search_text {
			position: relative;
			background-color: white;
			color: black;
		 	width: 48%;
		 	height: 6px;
			float: right;
		}
		
		.in_board_search_text input {
			width: 100%;
			height: 100%;
			
		}
		
		.in_board_search_btn {
			position: relative;
		 	width: 16%;
			height: 24px;
			background-color: black;
			border: 0px;
			color: white;
			float: right;
		}	
		
		/* 크레딧 섹션 모바일 css */
		
		  .footerinfo-division-top {
		    padding-bottom: 0px;
		  }
		  .footerinfo-division-top .inner {
		    display: block;
		  }
		  .link-about {
		    display: block;
		    text-align: start;
		    font-size: 11px;
		  }
		  .link-about a {
		    padding: 20px 4px 0;
		  }
		  .link-about a::before {
		    content: none;
		    margin: 0;
		  }
		  .link-social {
		    display: block;
		  }
		  .link-about :nth-child(5) {
		    display: none;
		  }
		  .link-about :nth-child(6) {
		    display: none;
		  }
		
		  .link-social-item {
		    justify-content: start;
		  }
		  .link-social-item > a {
		    width: 32px;
		    height: 32px;
		    padding: 20px 4px;
		  }
		  .link-social-item > a > span {
		    display: none;
		  }
		
		  .footerinfo-division-bottom {
		    display: block;
		    margin: 0 auto;
		  }
		  .company-info {
		    padding: 15px 20px;
		    margin: 0 auto;
		  } 
		  .company-name {
		    font-size: 15px;
		  }
		  .bundle {
		    font-size: 11px;
		  }
		  .bundle span {
		    display: block;
		  }
		  .bundle span::before {
		    content: none;
		    margin: 0;
		  }
		  .servicecenter {
		    padding: 15px 20px;
		    margin: 0 auto;
		  }
		  .center-phonenumber {
		    font-size: 15px;
		  }
		  .center-info {
		    font-size: 11px;
		  }
		
}





/*
	초기버전 UI
*/

/*
	.main-logo {
		display: block;
  		width: 150px;
  		height: 50px;
  		background-position: center;
 		background-size: 100% 100%;
  		margin:auto;
}
.search_div {
	height: 40px;
	width: 350px;
	border: 1px solid #1b5ac2;
	background: #ffffff;
	margin:auto;
}
p {
	width: 1024px;
	text-align: center;
	font-size:25px;
	color:white;
	background-color: darkgray;
	margin: auto;
}

.main_div {
	height: auto;
	width: 1024px;
	margin: auto;	
}

input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
button{
	width: 50px;
	height: 100%;
	border: 0px
	background: white;
	outline: none;
	float: right;
	color: blue;
}

.write_button{
	position: relative;
	font-size: 12px;
	width: 60px;
	height: auto;
	background: darkgray;
	margin:auto;
	float: right;
	color: white;
}


*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0; 		 ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 
  overflow: hidden;
}

.menu > li:hover {			 마우스를 올렸을 때 
  background-color: #94a9ff;
  transition-duration: 0.5s;
  font-weight:bold;
}

.board_table {
	border: 1px;
	margin:auto;
	width: 1024px;
    height: auto;
    text-align: center;
}
.board_head {
	background-color: lightgray;
	color:blue;
}

.bottom_div {
	background-color: #FAFAFA;
	width: 1024px;
	height: 150px;
	margin: auto;
	text-align: center;
}

.paging_div {
	font-size: 20px;
	min-width: 624px;
	color: black;
	height: 40px;
	margin: auto;
	padding: 15px;
}

.b_sty {
	color: green;
	font-size: 18px;
}


.hr_sty {
	border-top: 1px dotted #bbb;
	height: auto;
	width: 100%;
	margin: auto;
}

.bottom_hr {
	border-top: 1px dotted black;
}

.board_search_div {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 500px;
	height: 50px;
	font-size: 13px;
	text-align: center;
	margin: auto;
}

.in_board_search_menu{
    position: relative;
 	width: 140px;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align: center;
	float: left;
}

.in_board_search_text {
	position: relative;
	background-color: white;
	color: black;
 	width: 240px;
 	height: 16px;
	float: right;
}

.in_board_search_text input {
	width: 100%;
	height: 100%;
	
}

.in_board_search_btn {
	position: relative;
 	width: 70px;
	height: 34px;
	background-color: #03C75A;
	border: 0px;
	color: white;
	float: right;
}

.menu > li:hover .submenu {
  height: 100px; 			서브메뉴 li의 총 높이 
  transition-duration: 1s;
}

@media ( max-width: 720px ) {		 모바일 설정  스크린 x축의 길이가 720px이하 일때 적용됨 
		html, body {				 와 진짜... 모바일에서 가로로 스크롤이 되는 오류가 발생해서 
			max-width: 100%;		 11:00 pm ~ 8:00 am 까지 잠도 못자고 했는데 html, body 설정으로 해결!!!!! 
			overflow-x: hidden;
		}

        .main-logo {
         	width: 100%;
          	height: 45px;
        }
        .search_div {
        	width: 100%;
        }
        .menu {
          width: 100%;
          height: auto;
        }
        .main_div{
          	width: 100%;
          	height: auto;
          	font-size: 10px;
        }
        .board_title_a{
			font-size: 10px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		.board_comment_font{
			font-size: 8px;
			height: 16px;
			table-layout : fixed;
			overflow: hidden;			
    		text-overflow: ellipsis;
   		 	white-space: nowrap;
		}
		p{
			width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
		}

        .board_table {
        	border: 1px;
        	width: 100%;
        	height: auto;
        }
        .board_head {  	
        	width: 100%;
          	height: auto;
			background-color: lightgray;
			color:blue;
		}
        .write_button {
        	position: relative;
        	font-size: 10px;
        	width: 15%;
			height: auto;
			float: right;
			background-color: darkgray;
			color: white;
        }
        
		.bottom_div {
			position: relative;
			background-color: #FAFAFA;
			width: 100%;
			height: 80px;
			text-align: center;
			margin: auto;
		}
		
		.paging_div {
			position: relative;
			font-size: 14px;
			height: 25px;
			color: black;
			text-align: center;
		}
		
		.paging_div2{
			position: absolute;
			padding-bottom: 15px;
			left: 25%;
			top: 25%;
		}
		
		.b_sty {
			position: relative;
			color: green;
			font-size: 15px;
		}
		
		
		.hr_sty {
			position: relative;
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
			margin: auto;
		}
		
		.bottom_hr {
			border-top: 1px dotted black;
		}
		
		.board_search_div {
			position: relative;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 94%;
			min_height: 30px;
			height: 40px;
			font-size: 13px;		
			padding: 10px;
			text-align: center;
			margin: auto;
		}
		
		.in_board_search_menu{
		    position: relative;
		 	width: 24%;
		 	min_height: 24px;
		    height: auto;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;			
			float: left;
		}
		
		.in_board_search_text {
			position: relative;
			background-color: white;
			color: black;
		 	width: 48%;
		 	height: 6px;
			float: right;
		}
		
		.in_board_search_text input {
			width: 100%;
			height: 100%;
			
		}
		
		.in_board_search_btn {
			position: relative;
		 	width: 12%;
			height: 24px;
			background-color: #03C75A;
			border: 0px;
			color: white;
			float: right;
		}	
		
}
	
*/
