body{
	background-color: lightgray;
}

.empty_post_div{
	background-color: white;
	width: 60%;
	height: auto;
	margin: auto;	
}

.total_post_div{
	background-color: white;
	width: 850px;
	height: auto;
	margin: auto;
}

/*
.real_post_div{
	background-color: white;
	width: 850px;
	height: auto;
	margin: auto;
	
}
*/
p {
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: darkgray;
	margin: auto;
}

table {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
	text-align: left;
}
.search_div {
	position: relative;
	top: 75px;
	right: 15px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	background: #ffffff;
	float: right;
}

.write_comment_div{
	width: 100%;
	height: auto;
	text-align: center;
}

.btn_div{
	height: auto;
	width: 100%;
	margin: auto;
}

.imgs {
	position: relative;
	width: 10px;
	height: 10px;
	padding: 8px;
	float: right;
}
.upload_imgs {
	max-width: 720px;
}

.upload_videos {
	position: relative;
	width: 600px;		/* 350 */
	height: 600px;
}

.title_table{
	position: relative;
	background-color: #F6F6F6;
	width: 100%;
	height: auto;
	margin: auto;
	text-align: left;
}

.total_div{
	position: relative;
	width: 100%;		/* 350 */
	height: 400px;
	margin: auto;
	text-align: left;
}

.content_table{
	position: relative;
	width: 100%;		/* 350 */
	min-height: 400px;
	height: auto;
	margin: auto;
	text-align: left;
}


.content_td{
	position: relative;
	width: 100%;		/* 350 */
	min-height: 400px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/* 여기부터는 테이블을 넘어가는 길이의 글은 자동으로 줄바꿈을 하기 위한 style이다. */
	table-layout : fixed;		
	white-space: normal;		
	overflow: hidden;
	word-break: break-all;
}

.comment_table{
	position: relative;
	background-color: #FAFAFA;
	color: blue;
	width: 100%;
	height: 50px;
	margin: auto;
	text-align: left;
}
.comment_table th{
	position: relative;
	background-color: #FAFAFA;
	border: 1px dotted #bbb;
	color: blue;
	font-weight: bold;
	padding: 10px;
	width: 80%;
	height: 25px;
	margin: auto;
	text-align: left;
}
.comment_main{
	position: relative;
	background-color: #FAFAFA;
	width: 100%;
	height: 200px;
	margin: auto;
	padding: 10px;
	text-align: left;
}
textarea{
	position: relative;
	width: 100%;
	height: 200px;
	margin: auto;
	text-align: left;
}
.update_comment_textarea{
	position: relative;
	width: 100%; 
	height: 200px;
	margin: auto;
	text-align: left;
}

.file_down_login {
	position: relative;
	width: 100%;
	height: 20px;
	margin: auto;
	font-size: 12px;
	text-align: left;
}

.comment_btn{
	position: relative;		
	background-color: green;
	color: white;
	max-width: 400px;
	width: 45%;
	height: 40px;
	float: right;
	text-align: center;
}

.reload_btn{
	position: relative;
	background-color: lightgray;
	color: white;
	max-width: 400px;
	width: 45%;
	height: 40px;
	float: left;
	text-align: center;
}

.main-logo {
		display: block;
  		width: 300px;
  		height: 100px;
  		background-position: left;
 		background-size: 100% 100%;
  		float: left;
  		padding: 30px;
}

.search_input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;	
}

input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
hr {
	border-top: 1px dotted #bbb;
	height: auto;
	width: 100%;
	margin:auto;
}

.search{
	width: 50px;
	height: 100%;
	outline: none;
	float: right;
	background-color: black;
	color: white;
}

.edit_btn{
	position: relative;
	width: 80px;
	height: 100%;
	border: 0px;
	background-color: darkgray;
	float: right;
	color: white;
}

.delete_btn{
	position: relative;
	width: 80px;
	height: 100%;
	border: 0px;
	background-color: darkgray;
	float: right;
	color: white;
}

.update_comment_btn{
	position: relative;
	width: 120px;
	height: 40px;
	background-color: darkgray;
	color: white;
	float: right;
	right: 12px;
}

.update_cancle_btn{
	position: relative;
	width: 120px;
	height: 40px;
	background-color: darkgray;
	color: white;
	float: right;
	
}

.downFile_table{
	position: relative;
	width: 100%;
	height: auto;
	border: 1px;
}

/*
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
*/

.downFile_th{
	background: darkgray;
	text-align: auto;
}

.downFile_td{
	padding: 5px;
}

.downFile_span{
	font-size: 8px;
}

*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33.3%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: black;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: darkgray;
}

.submenu {
  height: 0; 		/* ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 */
  overflow: hidden;
}

.menu > li:hover {			/* 마우스를 올렸을 때 */
  background-color: darkgray;
  transition-duration: 0.5s;
  font-weight:bold;
}

.menu > li:hover .submenu {
  height: 100px; 			/*서브메뉴 li의 총 높이 */
  transition-duration: 1s;
}
@media ( max-width: 720px ) {		/* 모바일 설정*/ /* 스크린 x축의 길이가 720px이하 일때 적용됨 */
       	html, body {						
			width: 100%;	
			overflow-x: hidden;
			background-color: white;
		}
       	/*
       	body {
       		max-width: 100%;
       		overflow-x: hidden;
       		background-color: white;
       	}
       */
       	.empty_post_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;	
		}
		
		.total_post_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;
		}
		
        .main-logo {
	  		width: 90%;
	  		height: 50px;

        }
        .search_div {
            position: static;
			height: 40px;
			width: 100%;
			border: 1px solid black;
			background: #ffffff;
			margin: auto;
			font-size: 14px;
        }
        .search_input{     	
        	font-size: 14px;
        	width: 80%;
        	height: auto;
        }
        input::placeholder {
        	font-size: 14px;
        }
		.search {
			width: 50px;
			height: 100%;
			border-radius: 4px;
			background-color: black;
			outline: none;
			float: right;
			color: white;
		}
       	
		p{
			width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
		}
		        
        .menu {
          padding-top: 20px;
          width: 100%;
          height: auto;
        }
        /*
        .div {
          float: none;
          width: 100%;
          height: auto;
        }
        */
        .write_button {
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        table{
        	width: 100%;
			height: auto;
        }
        .title_table{
        	width: 100%;
			height: auto;
        }
        .content_table{
        	width: 100%;
        	height: auto;
        }
        .btn_div{
        	position: relative;
        	width: 100%;
			height: auto;
			margin: auto;
        }
        
        .edit_btn{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        .delete_btn{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        .delete_btn2{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;
        }
        .comment_table{
        	position: relative;
        	width: 100%;
			height: auto;
        }
        .comment_main{
        	position: relative;
        	width: 100%;
			height: auto;
        }
		textarea{
			width: 100%; 
			height: 50px;
		}
		.write_comment_div{
        	width: 100%;
			height: auto;
		}
        .comment_btn{
        	position: relative;
        	width: 40%;
			height: auto;
			float: right;
        }    
        .reload_btn{
        	position: relative;
        	width: 40%;
			height: auto;
			float: left;
        }
        hr {
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
		}
        
        .upload_videos {
			position: relative;
			width: 100%;		/* 350 */
			height: auto;
		}   
		
		.upload_imgs {
			position: relative;
			width: 100%;		/* 350 */
			height: auto;
		} 
		.downFile_table {
			position: relative;
			width: 100%;
			height: auto;
		}
		
		.file_down_login {
			position: relative;
			width: 100%; 
			height: 15px;
			margin: auto;
			font-size: 10px;
			
		}
		.update_comment_textarea{
			position: relative;
			width: 100%; 
			height: 50px;
		}
		
		.update_comment_btn{
			border: 1px gray;
			width: 25%;
			height: auto;
			background-color: darkgray;
			color: white;
			float: right;
		}

		.update_cancle_btn{
			border: 1px gray;
			width: 25%;
			height: auto;
			background-color: darkgray;
			color: white;
			float: right;
		}
}

/*

@media ( min-width: 1024px ) {		 스크린 x축의 길이가 1024px이상 일때 적용됨 
        table{
			width: 750px;
			height: auto;
			margin: auto;
			text-align: left;
        }
        .title_table{
        	float: none;
        	width: 750px;
			height: auto;
        }
        .content_table{
        	float: none;
        	width: 750px;
			height: auto;
        }
        
}

*/