body{
	background-color: lightgray;
}

.empty_post_div{
	background-color: white;
	width: 60%;
	height: auto;
	margin: auto;	
}

.total_post_div{
	background-color: white;
	width: 850px;
	height: auto;
	margin: auto;
}

.admin_board_p{
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: #FF0000;
	margin: auto;
	display: none;
}

.user_board_p{
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: darkgray;
	margin: auto;
}

.secret_board_p{
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: darkgray;
	margin: auto;
}



p {
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: darkgray;
	margin: auto;
	display: none;
}

table {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
	text-align: left;
}
.search_div {
	position: relative;
	top: 75px;
	right: 15px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	background: #ffffff;
	float: right;
}

.write_comment_div{
	width: 100%;
	height: auto;
	text-align: center;
}

.btn_div{
	height: auto;
	width: 100%;
	margin: auto;
}

.imgs {
	position: relative;
	width: 10px;
	height: 10px;
	padding: 8px;
	float: right;
}
.upload_imgs {
	max-width: 720px;
}

.upload_videos {
	position: relative;
	width: 600px;		/* 350 */
	height: 600px;
}

.title_table{
	position: relative;
	background-color: #F6F6F6;
	width: 100%;
	height: auto;
	margin: auto;
	text-align: left;
}

.total_div{
	position: relative;
	width: 100%;		/* 350 */
	height: 400px;
	margin: auto;
	text-align: left;
}

.content_table{
	position: relative;
	width: 100%;		/* 350 */
	min-height: 400px;
	height: auto;
	margin: auto;
	text-align: left;
}


.content_td{
	position: relative;
	width: 100%;		/* 350 */
	min-height: 400px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/* 여기부터는 테이블을 넘어가는 길이의 글은 자동으로 줄바꿈을 하기 위한 style이다. */
	table-layout : fixed;		
	white-space: normal;		
	overflow: hidden;
	word-break: break-all;
}

.comment_table{
	position: relative;
	background-color: #FAFAFA;
	color: blue;
	width: 100%;
	height: 50px;
	margin: auto;
	text-align: left;
}
.comment_table th{
	position: relative;
	background-color: #FAFAFA;
	border: 1px dotted #bbb;
	color: blue;
	font-weight: bold;
	padding: 10px;
	width: 80%;
	height: 25px;
	margin: auto;
	text-align: left;
}
.comment_main{
	position: relative;
	background-color: #FAFAFA;
	width: 100%;
	height: 200px;
	margin: auto;
	padding: 10px;
	text-align: left;
}
textarea{
	position: relative;
	width: 100%;
	height: 200px;
	margin: auto;
	text-align: left;
}
.update_comment_textarea{
	position: relative;
	width: 100%; 
	height: 200px;
	margin: auto;
	text-align: left;
}

.file_down_login {
	position: relative;
	width: 100%;
	height: 20px;
	margin: auto;
	font-size: 12px;
	text-align: left;
}

.comment_btn{
	position: relative;		
	background-color: green;
	color: white;
	max-width: 400px;
	width: 45%;
	height: 40px;
	float: right;
	text-align: center;
}

.reload_btn{
	position: relative;
	background-color: lightgray;
	color: white;
	max-width: 400px;
	width: 45%;
	height: 40px;
	float: left;
	text-align: center;
}

.main-logo {
		display: block;
  		width: 300px;
  		height: 100px;
  		background-position: left;
 		background-size: 100% 100%;
  		float: left;
  		padding: 30px;
}

.search_input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;	
}

input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
hr {
	border-top: 1px dotted #bbb;
	height: auto;
	width: 100%;
	margin:auto;
}

.search{
	width: 50px;
	height: 100%;
	outline: none;
	float: right;
	background-color: black;
	color: white;
}

.edit_btn{
	position: relative;
	width: 80px;
	height: 100%;
	border: 0px;
	background-color: darkgray;
	float: right;
	color: white;
}

.delete_btn{
	position: relative;
	width: 80px;
	height: 100%;
	border: 0px;
	background-color: darkgray;
	float: right;
	color: white;
}

.update_comment_btn{
	position: relative;
	width: 120px;
	height: 40px;
	background-color: darkgray;
	color: white;
	float: right;
	right: 12px;
}

.update_cancle_btn{
	position: relative;
	width: 120px;
	height: 40px;
	background-color: darkgray;
	color: white;
	float: right;
	
}

.downFile_table{
	position: relative;
	width: 100%;
	height: auto;
	border: 1px;
}

/*
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
*/

.downFile_th{
	background: darkgray;
	text-align: auto;
}

.downFile_td{
	padding: 5px;
}

.downFile_span{
	font-size: 8px;
}

*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33.3%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: black;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: darkgray;
}

.submenu {
  height: 0; 		/* ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 */
  overflow: hidden;
}

.menu > li:hover {			/* 마우스를 올렸을 때 */
  background-color: darkgray;
  transition-duration: 0.5s;
  font-weight:bold;
}

.menu > li:hover .submenu {
  height: 100px; 			/*서브메뉴 li의 총 높이 */
  transition-duration: 1s;
}


/* 크레딧 섹션 css - 기존 프로젝트에서 복사해왔다. (브랜디 쇼핑몰의 css부분 긁어옴) */

footer {
  display: block;
  width: 100%;
  background-color: #f7f8fa;
}

.foot-sector {
  margin: 30px auto 0 auto;
}

.footerinfo-division-top {
  display: block;
  padding: 15px 15px;
  border: 1px solid #ebeef2;
  margin: 0 auto;
}

.footerinfo-division-top > div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-about {
  text-align: center;
}

.link-about a:first-child::before {
  content: none;
}

.link-about a::before {
  content: "|";
  margin-right: 5px;
}

.link-social-item {
  display: flex;
}

.link-social-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.link-social-item > a > span {
  margin-left: 7px;
}

.foot-sector :nth-child(2) {
  border: none;
}

.footerinfo-division-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0px auto;
  padding-bottom: 50px;
}
.company-info {
  display: inline-block;
}

.company-name {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 25px;
}

.bundle {
  color: #5f6773;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
}

.bundle span:first-child::before {
  content: none;
}

.bundle span::before {
  content: "|";
  margin-right: 5px;
}

.servicecenter {
  font-style: normal;
}

.center-phonenumber {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: inherit;
}

.center-info {
  line-height: 30px;
  color: #5f6773;
}

/* 크레딧 섹션 css */


@media ( max-width: 720px ) {		/* 모바일 설정*/ /* 스크린 x축의 길이가 720px이하 일때 적용됨 */
       	html, body {						
			width: 100%;	
			overflow-x: hidden;
			background-color: white;
		}
		input, button{			
			/* ios 기본 스타일 제거 */
			appearance: none;
		    -moz-appearance: none;
		    -webkit-appearance: none;
		    border-radius: 0;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		}

       	.empty_post_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;	
		}
		
		.total_post_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;
		}
		
        .main-logo {
	  		width: 90%;
	  		height: 50px;

        }
        .search_div {
            position: static;
			height: 40px;
			width: 100%;
			border: 1px solid black;
			background: #ffffff;
			margin: auto;
			font-size: 14px;
        }
        .search_input{     	
        	font-size: 14px;
        	width: 80%;
        	height: auto;
        }
        input::placeholder {
        	font-size: 14px;
        }
		.search {
			width: 50px;
			height: 100%;
			border-radius: 4px;
			background-color: black;
			outline: none;
			float: right;
			color: white;
		}
       	
       	.admin_board_p{
			width: 100%;
			text-align: center;
			font-size:18px;
			color: white;
			background-color: #FF0000;
			margin: auto;
			display: none;
		}
       	
       	.user_board_p{
       		width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
			display: none;
       	}
       	
       	 .secret_board_p{
       		width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
			display: none;
       	}
       	
		p{
			width: 100%;
			text-align: center;
			font-size:18px;
			color:white;
			background-color: darkgray;
			margin: auto;
		}
		        
        .menu {
          padding-top: 20px;
          width: 100%;
          height: auto;
        }

        .write_button {
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        table{
        	width: 100%;
			height: auto;
        }
        .title_table{
        	width: 100%;
			height: auto;
        }
        .content_table{
        	width: 100%;
        	height: auto;
        }
        .btn_div{
        	position: relative;
        	width: 100%;
			height: auto;
			margin: auto;
        }
        
        .edit_btn{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        .delete_btn{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        .delete_btn2{
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;
        }
        .comment_table{
        	position: relative;
        	width: 100%;
			height: auto;
        }
        .comment_main{
        	position: relative;
        	width: 100%;
			height: auto;
        }
		textarea{
			width: 100%; 
			height: 50px;
		}
		.write_comment_div{
        	width: 100%;
			height: auto;
		}
        .comment_btn{
        	position: relative;
        	width: 40%;
			height: auto;
			float: right;
        }    
        .reload_btn{
        	position: relative;
        	width: 40%;
			height: auto;
			float: left;
        }
        hr {
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
		}
        
        .upload_videos {
			position: relative;
			width: 100%;		/* 350 */
			height: auto;
		}   
		
		.upload_imgs {
			position: relative;
			width: 100%;		/* 350 */
			height: auto;
		} 
		.downFile_table {
			position: relative;
			width: 100%;
			height: auto;
		}
		
		.file_down_login {
			position: relative;
			width: 100%; 
			height: 15px;
			margin: auto;
			font-size: 10px;
			
		}
		.update_comment_textarea{
			position: relative;
			width: 100%; 
			height: 50px;
		}
		
		.update_comment_btn{
			position: relative;
			border: 1px gray;
			width: 25%;
			height: auto;
			background-color: darkgray;
			color: white;
			float: right;		
		}

		.update_cancle_btn{
			position: relative;
			border: 1px gray;
			width: 25%;
			height: auto;
			background-color: darkgray;
			color: white;
			float: right;		
		}
		
				/* 크레딧 섹션 모바일 css */
		
		  .footerinfo-division-top {
		    padding-bottom: 0px;
		  }
		  .footerinfo-division-top .inner {
		    display: block;
		  }
		  .link-about {
		    display: block;
		    text-align: start;
		    font-size: 11px;
		  }
		  .link-about a {
		    padding: 20px 4px 0;
		  }
		  .link-about a::before {
		    content: none;
		    margin: 0;
		  }
		  .link-social {
		    display: block;
		  }
		  .link-about :nth-child(5) {
		    display: none;
		  }
		  .link-about :nth-child(6) {
		    display: none;
		  }
		
		  .link-social-item {
		    justify-content: start;
		  }
		  .link-social-item > a {
		    width: 32px;
		    height: 32px;
		    padding: 20px 4px;
		  }
		  .link-social-item > a > span {
		    display: none;
		  }
		
		  .footerinfo-division-bottom {
		    display: block;
		    margin: 0 auto;
		  }
		  .company-info {
		    padding: 15px 20px;
		    margin: 0 auto;
		  } 
		  .company-name {
		    font-size: 15px;
		  }
		  .bundle {
		    font-size: 11px;
		  }
		  .bundle span {
		    display: block;
		  }
		  .bundle span::before {
		    content: none;
		    margin: 0;
		  }
		  .servicecenter {
		    padding: 15px 20px;
		    margin: 0 auto;
		  }
		  .center-phonenumber {
		    font-size: 15px;
		  }
		  .center-info {
		    font-size: 11px;
		  }
		
		
}
