body{
	background-color: lightgray;
}
.bottom_hr {
	width: 100%;
	border-top: 1px dotted black;
}

.empty_write_div{
	background-color: white;
	width: 60%;
	height: auto;
	margin: auto;	
}

.total_write_div{
	background-color: white;
	width: 850px;
	height: auto;
	margin: auto;
}

p {
	width: 100%;
	text-align: center;
	font-size:25px;
	color: white;
	background-color: darkgray;
	margin: auto;
}

.write_form_table {
	width: 100%;
	min-height: 400px;
	height: auto;
	margin: auto;
	text-align: center;
	table-layout: fixed;
	overflow: hidden;
}

.write_form_table th{
	background-color: lightgray;
}

[contenteditable=true] {
  outline: none;
}
textarea {
	width: 100%;
}
.search{
	width: 50px;
	height: 100%;
	outline: none;
	float: right;
	background-color: black;
	color: white;
}

.write_content_div {
	text-align: left;
	width: 100%;
	min-height: 400px;
	white-space:normal;
	overflow: hidden;		/* 필수 - 없으면 최대너비 이상 넘어가는 글에도 안멈추고 쭉 늘어남*/
 	padding: 0.5em;
 	display:inline-block;
 	border: 0px solid #D6D6D6;
}

.write_form_table th{
	width: 80px;
}

.write_form_table td{
	padding-right: 10px;
}

#write_content_div img{
	max-width: 720px;
}

#write_content_div video{
	max-width: 600px;
}
.main-logo {
		display: block;
  		width: 300px;
  		height: 100px;
  		background-position: left;
 		background-size: 100% 100%;
  		float: left;
  		padding: 30px;
}
.search_div {
	position: relative;
	top: 75px;
	right: 15px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	background: #ffffff;
	float: right;
}
.search_input{
	font-size: 16px;
	width: 275px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;	
}

.input_file{
	font-size: 16px;
	width: 100%;
	height: auto;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
.add_file_btn{
	width:	100%;
	height: 100%;
	background-color: black;
	color: white;
}

.delete_inputfilebox_btn{
	width: 15px;
	height: 15px;
}

.uploaded_fileList{
	width: 100%;
	height: auto;
	padding: 5px;
	float: left;
}

.attached_file{
	width: 100%;
	height: auto;
	padding: 5px;
	float: left;
}

.attached_file_line{
	width: 80%;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: no-wrap;
	border: 1px solid red;
	float: left;
}

input{
	font-size: 16px;
	width: 100%;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

button{
	width: 50px;
	height: 100%;
	border: 0px;
	outline: none;
	float: right;
	color: blue;
}

.upload_imgs {
	max-width: 720px;
}

.upload_videos {
	max-width: 600px;		/* 350 */
}

.small_write_btn{
	font-size: 18px;
	width: 80px;
	height: auto;
	border: 0px;
	font-weight: bold;
	float: right;
	background-color: darkgray;
	color:white;
}


.small_write_btn2{
	font-size: 18px;
	width: 48%;
	height: 40px;
	border: 1px;
	font-weight: bold;
	float: left;
	background-color: darkgray;
	color:white;
}

.small_write_btn3{
	font-size: 18px;
	width: 48%;
	height: 40px;
	border: 1px;
	font-weight: bold;
	float: right;
	background-color: darkgray;
	color:white;
}

.downFile_table{
	position: relative;
	width: 100%;
	height: auto;
	border: 1px;
	margin: auto;
}

.downFile_th{
	width: 100%;
	background: darkgray;
	text-align: left;
	height: 20px;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-right: 20px;
}

.downFile_td{
	width: 100%;
	padding: 5px;
	font-size: 8px;
	height: auto;
	text-align: left;
}

.delete_file_img{
	width: 10px;
	height: 10px;
	padding-left: 10px;
}

.trash_img{
	width: 20px;
	height: 18px;
	float: right;
}

.secret_input_img_div{
	width: 60px;
	height: 60px;
	float: left;
	/* border: 1px solid black; */
	text-align:center;
}

.lock_img{
	width: 35%;
	height: auto;
	text-align:center;
	margin: auto;
}

.secret_input_table{
	width: 20%;
	max-height: 28px;
	height: auto;
	margin: auto;
	text-align: center;
	float: left;
	background-color: darkgray;
	vertical-align : middle;
}

.secret_input_th{
	background-color: darkgray;
	width: 45%;
	height: auto;
	margin: auto;
	text-align:	center;
}

.secret_input_td{
	width: 35%;
	height: auto;
	vertical-align : middle;
}

.secretNum_input_span{
	background-color: darkgray;
	text-align: center;
	font-size: 14px;
	float: left;
	font-weight: bold;
	margin: auto;
}


.secretNum_input{
	width: 70%;
	background-color: #E5E5E5;
	text-align: center;
	float: right;
	font-size: 14px;
}

#update_content_div img{
	max-width: 720px;
}

#update_content_div video{
	position: relative;
	width: 600px;
	height: 600px;
}
.update_content_div img{
	max-width: 720px;
}
.update_content_div video{
	position: relative;
	width: 600px;
	height: 600px;
}

.update_upload_imgs {
	max-width: 720px;
}

.update_upload_videos {
	position: relative;
	width: 600px;		/* 350 */
	height: 600px;
}

.update_div{
	width: 100%;
	margin: auto;
}

.update_table{
	width: 100%;
	min-height: 400px;
	height: auto;
	margin: auto;
	text-align: center;
	table-layout: fixed;		/* table-layout: fixed; overflow: hidden; - 테이블 크기 고정시키고 넘어가는 값 숨김*/
	overflow: hidden;
}

.update_table th{
	width: 80px;
}

.update_table td{
	padding-right: 10px;
}

.update_content_div {
	text-align: left;
	width: 100%;
	min-height: 400px;
	height: auto;
	white-space:normal;
	overflow: hidden;
 	padding: 0.5em;
 	display:inline-block;
 	border: 0px solid #D6D6D6;
}

.write_button{
	position: relative;
	width: 70px;
	height: 100%;
	border: 0px
	background: gray;
	left: 448px;
	margin:auto;
	color: blue;
}


*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin:25px auto;
}

.menu > li {
  width: 33%; 
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: black;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: darkgray;
}

.submenu {
  height: 0; 		/* ul의 높이를 0로 맞춰서 ui상으로 안보이게 함 */
  overflow: hidden;
}

.menu > li:hover {			/* 마우스를 올렸을 때 */
  background-color: darkgray;
  transition-duration: 0.5s;
  font-weight:bold;
}

.menu > li:hover .submenu {
  height: 100px; 			/*서브메뉴 li의 총 높이 */
  transition-duration: 1s;
}


/* 크레딧 섹션 css - 기존 프로젝트에서 복사해왔다. (브랜디 쇼핑몰의 css부분 긁어옴) */

footer {
  display: block;
  width: 100%;
  background-color: #f7f8fa;
}

.foot-sector {
  margin: 30px auto 0 auto;
}

.footerinfo-division-top {
  display: block;
  padding: 15px 15px;
  border: 1px solid #ebeef2;
  margin: 0 auto;
}

.footerinfo-division-top > div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-about {
  text-align: center;
}

.link-about a:first-child::before {
  content: none;
}

.link-about a::before {
  content: "|";
  margin-right: 5px;
}

.link-social-item {
  display: flex;
}

.link-social-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.link-social-item > a > span {
  margin-left: 7px;
}

.foot-sector :nth-child(2) {
  border: none;
}

.footerinfo-division-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0px auto;
  padding-bottom: 50px;
}
.company-info {
  display: inline-block;
}

.company-name {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 25px;
}

.bundle {
  color: #5f6773;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
}

.bundle span:first-child::before {
  content: none;
}

.bundle span::before {
  content: "|";
  margin-right: 5px;
}

.servicecenter {
  font-style: normal;
}

.center-phonenumber {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: inherit;
}

.center-info {
  line-height: 30px;
  color: #5f6773;
}

/* 크레딧 섹션 css */


@media ( max-width: 720px ) {		/* 모바일 설정*/ /* 스크린 x축의 길이가 1024px이하 일때 적용됨 */
       
        html, body {
			max-width: 100%;
			overflow-x: hidden;
			background-color: white;
		}

		.empty_write_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;	
		}
		
		.total_write_div{
			background-color: white;
			width: 100%;
			height: auto;
			margin: auto;
		}
		
        .main-logo {
	  		width: 90%;
	  		height: 50px;

        }
        .search_div {
            position: static;
			height: 40px;
			width: 100%;
			border: 1px solid black;
			background: #ffffff;
			margin: auto;
			font-size: 14px;
        }
        .search_input{     	
        	font-size: 14px;
        	width: 80%;
        	height: auto;
        }
        input::placeholder {
        	font-size: 14px;
        }
		.search {
			width: 50px;
			height: 100%;
			border-radius: 4px;
			background-color: black;
			outline: none;
			float: right;
			color: white;
		}
        
        .menu {
          padding-top: 20px;
          width: 100%;
          height: auto;
        }
        div {
          position: relative;
          width: 100%;
          height: auto;
        }
        p {
			width: 100%;
			text-align: center;
			font-size:25px;
			color:white;
			background-color: darkgray;
			margin: auto;
		}
        .write_button {
        	position: relative;
        	width: 20%;
			height: auto;
			left: 0px;	
        }
        input {
        	/* ios 기본 스타일 제거 */
			appearance: none;
		    -moz-appearance: none;
		    -webkit-appearance: none;
		    border-radius: 0;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
        	position: relative;
        	width: 80%;
			height: auto;
        }
        button{			
			/* ios 기본 스타일 제거 */
			appearance: none;
		    -moz-appearance: none;
		    -webkit-appearance: none;
		    border-radius: 0;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		}
        
        .input_file{
        	position: relative;
        	width: 60%;
			height: auto;
        }
        
        table{
        	position: relative;
        	width: 100%;
        	min-height: 100px;
			height: auto;
        }
        
        .upload_videos {
			position: relative;
			width: 100%;		/* 350 */
			height: auto;
		}   
		
		.upload_imgs {
			position: relative;
			width: 90%;		/* 350 */
			height: auto;
		} 
        .write_form_table {
        	position: relative;
			width: 100%;	
			min-height: 400px;	
			height: auto;
        }
        .write_form_table th{
			min-width: 50px;
		}
		
		.update_table th{
			min-width: 50px;
		}
        
        .write_content_div {
        	text-align: left;
			position: relative;
			width: 100%;
			min-height: 400px;			/* table를 auto로 두고, 길이가 늘어나도 형태 유지가 용이한 div는 최소 높이만 지정하여 */
			table-layout : fixed;		/* div contenteditable=true를 사용해도 자연스럽게 글 작성이 되도록 했다. */
			white-space: normal;		
			overflow: hidden;
			word-break: break-all;
		}
		
		#write_content_div img{
			max-width: 90%;
		}

		#write_content_div video{
			position: relative;
			width: 90%;
			height: auto;
		}
		
		hr {
			border-top: 1px dotted #bbb;
			height: auto;
			width: 100%;
		}
		
		.downFile_table {
			position: relative;
			width: 100%;
			height: auto;
		}
		.downFile_th{
			position: relative;
			width: 100%;
			height: auto;
		}
		
		.downFile_td{
			position: relative;
			width: 100%;
			height: auto;
		}
		
	
		.update_upload_imgs {
			position: relative;
			max-width: 90%;
			height: auto;			
		}

		.update_upload_videos {
			position: relative;
			max-width: 90%;;		/* 350 */
			min-height: 200px;
			height: auto;
		}
		.update_div{
			width: 100%;
			height: auto;
			margin: auto;
		}
		
		.update_table{
			position: relative;
			width: 100%;
			min-height: 400px;
			height: auto;
			text-align: center;
		}
		textarea{
			position: relative;
			width: 100%;
			height: auto;
		}
		.update_content_div{
        	text-align: left;
			position: relative;
			width: 100%;
			min-height: 400px;			/* table를 auto로 두고, 길이가 늘어나도 형태 유지가 용이한 div는 최소 높이만 지정하여 */
			table-layout : fixed;		/* div contenteditable=true를 사용해도 자연스럽게 글 작성이 되도록 했다. */
			white-space: normal;		
			overflow: hidden;
			word-break: break-all;
		}
		
		/*
			position: relative;
			width: 100%;
			height: auto;
			white-space:normal;
 			padding: 0.5em;
 			display:inline-block;
 			border: 0px solid #D6D6D6;
		*/
		img{
			width: 90%;
			height: auto;
			object-fit: contain;
		}
		
		#update_content_div img{
			max-width: 90%;
			height: auto;
			object-fit: contain;
		}
		
		#update_content_div videos{
			position: relative;
			width: 90%;
			height: auto;
			object-fit: contain;
		}
		
		.update_content_div img{
			position: relative;
			max-width: 90%;
			height: auto;
			object-fit: contain;
		}
		.update_content_div video{
			position: relative;
			max-width: 90%;;		/* 350 */
			min-height: 200px;
			height: auto;			
			object-fit: contain;
			
		}
		
		.small_write_btn{
			font-size: 18px;
			width: 25%;
			height: 100%;
			border: 0px;
			font-weight: bold;
			float: right;
			background-color: darkgray;
			color:white;
			padding-right: 10px;
		}
		
		.small_write_btn2{
			font-size: 18px;
			width: 48%;
			height: auto;
			border: 1px;
			font-weight: bold;
			float: left;
			background-color: darkgray;
			color:white;
		}
		
		.small_write_btn3{
			font-size: 18px;
			width: 48%;
			height: auto;
			border: 1px;
			font-weight: bold;
			float: right;
			background-color: darkgray;
			color:white;
		}
		
		.secret_input_img_div{
			width: 30px;
			height: 30px;
			float: left;
			/* border: 1px solid black; */
			text-align:center;
		}
		
		.lock_img{
			width: 50%;
			height: auto;
			text-align:center;
			margin: auto;
		}
		
		
		.secret_input_table{
			width: 35%;
			height: auto;
			margin: auto;
			text-align: center;
			float: left;
			background-color: darkgray;
			vertical-align : middle;
		}
		
		.secret_input_th{
			background-color: darkgray;
			width: 45%;
			height: auto;
			margin: auto;
			text-align:	center;
		}		
		
		.secret_input_td{
			width: 35%;
			height: auto;
			vertical-align : middle;
		}
		
		.secretNum_input_span{
			background-color: darkgray;
			text-align: center;
			font-size: 11px;
			float: left;
			font-weight: bold;
		}
		
		
		.secretNum_input{
			background-color: #E5E5E5;
			width: 60%;
			text-align: center;
			font-size: 11px;
			float: right;
		}
		
		
		/* 크레딧 섹션 모바일 css */
		
		  .footerinfo-division-top {
		    padding-bottom: 0px;
		  }
		  .footerinfo-division-top .inner {
		    display: block;
		  }
		  .link-about {
		    display: block;
		    text-align: start;
		    font-size: 11px;
		  }
		  .link-about a {
		    padding: 20px 4px 0;
		  }
		  .link-about a::before {
		    content: none;
		    margin: 0;
		  }
		  .link-social {
		    display: block;
		  }
		  .link-about :nth-child(5) {
		    display: none;
		  }
		  .link-about :nth-child(6) {
		    display: none;
		  }
		
		  .link-social-item {
		    justify-content: start;
		  }
		  .link-social-item > a {
		    width: 32px;
		    height: 32px;
		    padding: 20px 4px;
		  }
		  .link-social-item > a > span {
		    display: none;
		  }
		
		  .footerinfo-division-bottom {
		    display: block;
		    margin: 0 auto;
		  }
		  .company-info {
		    padding: 15px 20px;
		    margin: 0 auto;
		  } 
		  .company-name {
		    font-size: 15px;
		  }
		  .bundle {
		    font-size: 11px;
		  }
		  .bundle span {
		    display: block;
		  }
		  .bundle span::before {
		    content: none;
		    margin: 0;
		  }
		  .servicecenter {
		    padding: 15px 20px;
		    margin: 0 auto;
		  }
		  .center-phonenumber {
		    font-size: 15px;
		  }
		  .center-info {
		    font-size: 11px;
		  }
		
}