<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.co.mapper.boardMapper">
 
	<select id="writeBoard">		<!-- 글작성 -->
		INSERT INTO board (title, content, id, nickname) VALUES (#{title}, #{content}, #{id}, #{nickname}) 
	</select>
	
	<select id="printBoard" resultType="boardDTO">		<!-- 모든 게시글 가져오기 -->
		SELECT num, title, nickname, comment, date, view FROM board WHERE is_exist=1
	</select>
	
	<select id="selectBoard" resultType="boardDTO">		<!-- 특정 게시글 한개 가져오기 -->
		SELECT num, title, id, nickname, comment, date, view, content, is_exist FROM board WHERE num=#{num} AND is_exist=1
	</select>

	<update id="addView">		<!-- 조회수 증가 -->
		UPDATE board SET view=view+1 WHERE num=#{num}
	</update>
	
	<select id="selectMinNum" resultType="int">		<!-- 게시글 중 가장 낮은 고유번호를 가져오기 (이전글, 다음글 구현시 필요함) -->
		SELECT MIN(num) AS "min_num" FROM board	WHERE is_exist=1
	</select>
	
	<select id="selectMaxNum" resultType="int">		<!-- 게시글 중 가장 높은 고유번호를 가져오기 (이전글, 다음글 구현시 필요함) -->
		SELECT MAX(num) AS "max_num" FROM board	WHERE is_exist=1
	</select>
	
	<update id="updateBoard">		<!-- 게시글 수정 -->
		UPDATE board SET title=#{title}, content=#{content} WHERE num=#{num}
	</update>
	
	<update id="deleteBoard">		<!-- 게시글 삭제 -->
		UPDATE board SET is_exist=0 WHERE num=#{num}
	</update>
	
	<select id="writeComment">		<!-- 댓글 작성 -->
		INSERT INTO comment (b_num, c_num, nickname, content) VALUES (#{b_num}, #{c_num}, #{nickname}, #{content})
	</select>
	
	<select id="printComment" resultType="commentDTO">		<!-- 모든 댓글 가져오기 -->
		SELECT * FROM comment WHERE b_num=#{b_num} AND is_exist=1
	</select>
	
	<update id="upComment">		<!-- 댓글 수 1 증가 -> 게시글에 댓글이 몇개 달려있는지 표현을 위한 쿼리문 -->
		UPDATE board SET comment=comment+1 WHERE num=#{num}
	</update>
	
	<update id="downComment">		<!-- 댓글 수 1 감소 -> 게시글에서 댓글이 지워졌을 경우 게시글의 댓글 총 개수를 감소시킴 -->
		UPDATE board SET comment=comment-1 WHERE num=#{num}
	</update>
	
	<select id="fileUpload">		<!-- 파일 업로드 -->
		INSERT INTO file (b_num, user_id, original_file_name, stored_file_name, stored_path, type, file_size) VALUES (#{b_num}, #{user_id}, #{original_file_name}, #{stored_file_name}, #{stored_path}, #{type}, #{file_size})
	</select>
	
	<select id="maxNum"	resultType="int">		<!-- 게시글 작성시 게시글의 고유번호인 b_num을 첨부파일의 게시글 번호로 정의 하기위해 가져온다. (사용시 컨트롤러에서 max(num)+1 형식으로 사용하여 마지막에서 다음 글임을 표현)(좋은 방법은 아님) -->
		SELECT MAX(num) FROM board
	</select>
	
	<select id="fileDownload" resultType="FileDTO">		<!-- 파일 다운로드 -->
		SELECT b_num, file_num, original_file_name, stored_file_name, stored_path, type, file_size FROM file WHERE b_num=#{b_num}
	</select>
	
	
	<select id="fileView" resultType="FileDTO">		<!-- 특정 고유번호를 가진 파일 하나를 가져온다. (아직 사용처 없음) -->
		SELECT b_num, original_file_name, stored_file_name, stored_path, file_size FROM file WHERE file_num=#{file_num}
	</select>
	
	<select id="fileViewer" resultType="FileDTO">		<!-- 특정 게시글의 모든 파일들을 가져온다 -->
		SELECT b_num, file_num, original_file_name, stored_file_name, stored_path, type, file_size FROM file WHERE b_num=#{b_num}
	</select>
	
	<select id="viewFile" resultType="FileDTO">		<!-- 미리보기를 위해 특정 게시글에 등록된 이미지나 영상 파일만 가져온다. -->
		SELECT b_num, file_num, original_file_name, stored_file_name, stored_path, type, file_size FROM file WHERE (type LIKE 'image%' OR type LIKE 'video%') AND b_num=#{b_num}
	</select>
	
	
	<update id="deleteFile">	<!-- 특정 파일 개별삭제 (파일 개별삭제을 아직 구현하지 못했기때문에 사용처 없음.) -->
		UPDATE file SET is_exist=0 WHERE file_num=#{file_num}
	</update>
	
	<select id="totalNum" resultType="int">		<!-- 유효한 모든 게시글의 수 -->
		SELECT COUNT(*) FROM board WHERE is_exist=1
	</select>
	
	<select id="limitBoard" resultType="boardDTO">		<!-- 메인화면에서 모든 게시글을 20개씩 나누어 페이징한 화면을 보여주기 위한 LIMIT 쿼리문 -->
		SELECT num, title, nickname, comment, date, view FROM board WHERE is_exist=1 ORDER BY num DESC LIMIT #{first},20
	</select>
	
	<update id="updateComment">		<!-- 댓글 수정 -->
		UPDATE comment SET content=#{content} WHERE c_num=#{c_num} AND is_exist=1
	</update>	
	
	<update id="deleteComment">		<!-- 특정 댓글 삭제 -->
		UPDATE comment SET is_exist=0 WHERE c_num=#{c_num} AND is_exist=1
	</update>
	
	
	<update id="allDeleteFile">			<!-- 특정 게시글의 모든 파일 삭제 (게시글 자체를 삭제할 때 사용함) -->
		UPDATE file SET is_exist=0 WHERE b_num=#{b_num} AND is_exist=1
	</update>
	
	
	<update id="allDeleteComment">			<!-- 특정 게시글의 모든 댓글 삭제 (게시글 자체를 삭제할 때 사용함) -->
		UPDATE comment SET is_exist=0 WHERE b_num=#{b_num} AND is_exist=1
	</update>
</mapper>